/build
/.gradle
/.idea
*.iml
DaoExample/
GreenDaoGenerator/libs/
GreenDaoGenerator/src/main/res/drawable/
README.md
hs_err_pid8628.log
lejane_launcher/src/main/jniLibs/arm64-v8a/
lejane_launcher/src/main/jniLibs/x86/
lib_EaseUI/build/
lib_dao/build/
lib_dao/libs/
lib_dao/src/main/res/drawable/
lib_net/build/
lib_net/libs/
lib_net/proguard-rules.pro
lib_net/src/main/res/drawable/
lib_sidebar/build/
local.properties
projectFilesBackup/
build
