build/intermediates/lint-cache/sdk-registry.xml/sdk-registry.xml
build/intermediates/lint-cache/maven.google/master-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/test/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/test/espresso/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/constraint/group-index.xml
.idea/runConfigurations.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/checkstyle-idea.xml
app/app.iml
.idea/workspace.xml
.idea/misc.xml
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.1.1/javaCompile/taskHistory.bin
.gradle/
local.properties
ForOffer.iml
.idea/